In [11]:
# Imports the dependencies
import pandas as pd
import gmaps
import requests
# Imports the API key
from config import g_key

In [12]:
# Stores the CSV I created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2021-04-24 23:13:17,-20.0064,57.6608,78.01,82,100,8.99
1,1,Dinghai,CN,2021-04-24 23:13:18,26.2847,119.7936,66.20,88,75,13.42
2,2,Koungheul,SN,2021-04-24 23:13:18,13.9833,-14.8000,83.66,26,17,12.30
3,3,Khatanga,RU,2021-04-24 23:13:18,71.9667,102.5000,30.83,95,100,16.08
4,4,Hobart,AU,2021-04-24 23:09:51,-42.8794,147.3294,54.00,71,75,11.50

In [13]:
#Gets the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [14]:
# Configures gmaps to use my Google API key
gmaps.configure(api_key=g_key)

In [17]:
# Heatmap of temperature
# Gets the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Gets the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assigns the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assigns the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Adds the heatmap layer
fig.add_layer(heat_layer)
# Calls the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Calls the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Calls the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Calls the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Asks the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filters the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Grand Gaube,MU,2021-04-24 23:13:17,-20.0064,57.6608,78.01,82,100,8.99
2,2,Koungheul,SN,2021-04-24 23:13:18,13.9833,-14.8000,83.66,26,17,12.30
9,9,Vila Velha,BR,2021-04-24 23:08:29,-20.3297,-40.2925,75.20,83,75,1.14
10,10,Benguela,AO,2021-04-24 23:13:20,-12.5763,13.4055,80.19,83,100,2.80
18,18,Catarman,PH,2021-04-24 23:13:22,12.4989,124.6377,78.24,84,75,1.54
34,34,Vaini,TO,2021-04-24 23:09:51,-21.2000,-175.2000,82.40,78,40,5.75
37,37,Angoche,MZ,2021-04-24 23:13:28,-16.2325,39.9086,76.86,79,91,4.50
39,39,Trairi,BR,2021-04-24 23:13:28,-3.2778,-39.2689,76.10,93,85,6.29
40,40,Rikitea,PF,2021-04-24 23:13:29,-23.1203,-134.9692,78.55,74,100,13.94
46,46,Mahebourg,MU,2021-04-24 23:13:30,-20.4081,57.7000,77.00,88,75,17.27

In [23]:
preferred_cities_df.count()

City_ID       166
City          166
Country       166
Date          166
Lat           166
Lng           166
Max Temp      166
Humidity      166
Cloudiness    166
Wind Speed    166
dtype: int64

In [24]:
# Creates DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0   Grand Gaube      MU     78.01 -20.0064   57.6608
2     Koungheul      SN     83.66  13.9833  -14.8000
9    Vila Velha      BR     75.20 -20.3297  -40.2925
10     Benguela      AO     80.19 -12.5763   13.4055
18     Catarman      PH     78.24  12.4989  124.6377
34        Vaini      TO     82.40 -21.2000 -175.2000
37      Angoche      MZ     76.86 -16.2325   39.9086
39       Trairi      BR     76.10  -3.2778  -39.2689
40      Rikitea      PF     78.55 -23.1203 -134.9692
46    Mahebourg      MU     77.00 -20.4081   57.7000

In [25]:
# Sets parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterates through the DataFrame
for index, row in hotel_df.iterrows():
    # Gets the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]

    # Adds the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"

    # Uses the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Makes request and gets the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grabs the first hotel from the results and stores the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Grand Gaube,MU,78.01,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
2,Koungheul,SN,83.66,13.9833,-14.8000,
9,Vila Velha,BR,75.20,-20.3297,-40.2925,Quality Suites Vila Velha
10,Benguela,AO,80.19,-12.5763,13.4055,Hotel Praia Morena
18,Catarman,PH,78.24,12.4989,124.6377,Pink City Pension Hotel
34,Vaini,TO,82.40,-21.2000,-175.2000,Keleti Beach Resort
37,Angoche,MZ,76.86,-16.2325,39.9086,Guest House HESADA
39,Trairi,BR,76.10,-3.2778,-39.2689,janelas do mar
40,Rikitea,PF,78.55,-23.1203,-134.9692,Pension Maro'i
46,Mahebourg,MU,77.00,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa

In [32]:
# Adds a heatmap of temperature for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Calls the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Stores the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]